[submodule "SRCNN-pytorch"]
	path = SRCNN-pytorch
	url = https://github.com/harutoooooooo/SRCNN-pytorch.git
[submodule "FSRCNN-pytorch"]
	path = FSRCNN-pytorch
	url = https://github.com/harutoooooooo/FSRCNN-pytorch.git
[submodule "ESPCN-pytorch"]
	path = ESPCN-pytorch
	url = https://github.com/harutoooooooo/ESPCN-pytorch.git
[submodule "SRDenseNet-pytorch"]
	path = SRDenseNet-pytorch
	url = https://github.com/harutoooooooo/SRDenseNet-pytorch.git
